---
# Template variables
title: Future Leaders Challenge
layout: default
hero: true
hero_bg_src: /assets/img/event/future-leaders-challenge/cover.jpg
hero_type: image
hero_title: Future Leaders Challenge
custom_js:
- /assets/js/lazy-carousel.js
---

<div class="bg-light">
  <div class="container py-5 text-center">
    <div class="px-md-5" data-aos="flip-down" data-aos-duration="1600" data-aos-offset="80">
      <div class="px-md-5">
        <div class="px-lg-5">
          <h2 class="font-secondary text-primary h1">Discover the Leader in You</h2>
          <p class="m-0 mt-4">Future Leaders Challenge (FLC) is our high school tier competition hosted at the University of Toronto Scarborough, designed to challenge students in a day of case rounds, panels, and networking.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="px-md-5">
    <div class="px-lg-5" data-aos="slide-left" data-aos-offset="90" data-aos-duration="1300">
      <h2 class="font-secondary text-primary h1 text-center mb-4">Why Compete?</h2>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-begin">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="100" data-aos-duration="1300">
            <img src="/assets/img/event/future-leaders-challenge/university-experience-thumbnail.jpg" alt="University experience thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">University Experience</h3>
              <p>FLC gives high school students a glimpse into what university is like. Experience what it's like to compete at the University of Toronto, one of Canada's top schools and complete challenging business cases that will give you a taste of what's to come.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-inbetween">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <img src="/assets/img/event/future-leaders-challenge/build-your-network-thumbnail.jpg" alt="Build your network thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Build Your Network</h3>
              <p>There's no better time to meet new people and begin building a network that is integral for your future. FLC provides delegates the opportunity to develop meaningful connections with upper year university students.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-end">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <img src="/assets/img/event/future-leaders-challenge/win-big-thumbnail.jpg" alt="Win big thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Win Big</h3>
              <p>Showcase your skills through our interactive and innovative cases for huge rewards. FLC is a chance to win monetary and non-monetary prizes by showcasing your talent. We also distribute swag bags so you won't leave empty-handed!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5" data-aos="zoom-in-up">
  <h2 class="font-secondary text-primary h1 text-center mb-5">FLC 2019 Highlights</h2>
  <div id="carouselExampleIndicators" class="carousel slide lazy pb-5" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner">
      {% for carouselcount in (1..13) %}
      <div class="carousel-item {% if carouselcount == 1 %}active{% endif %}">
        {% if carouselcount == 1 %}
        <img class="d-block w-100" src="/assets/img/event/future-leaders-challenge/carousel/flc{{ carouselcount }}.jpg" alt="Slide {{ carouselcount }}">
        {% else %}
        <img class="d-block w-100" data-src="/assets/img/event/future-leaders-challenge/carousel/flc{{ carouselcount }}.jpg" alt="Slide {{ carouselcount }}">
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
