---
# Template variables
title: LIVE Competition
layout: default
hero: true
hero_bg_src: /assets/vid/event/live-competition/cover.mp4
hero_poster_src: /assets/img/event/live-competition/cover_vid.png
hero_type: video_reg
hero_title: LIVE Competition
hero_subtitle: Early Bird Registration Opens November 1
custom_js:
- /assets/js/lazy-carousel.js
---

<div class="bg-light p-5">
  <div class="container py-5 text-center">
    <div class="px-md-5" data-aos="fade-up" data-aos-duration="1600" data-aos-offset="80">
      <div class="px-md-5">
        <div class="px-lg-5">
          <h2 class="font-secondary text-primary h1">Compete With the Best</h2>
          <p class="m-0 mt-4">LIVE is a 2-day business case competition hosted in the heart of Toronto. We aim to provide a platform for the brightest undergraduate business students across Canada to discover and nurture their potential as business leaders.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5">
  <div class="px-md-5">
    <div class="px-lg-5" data-aos="slide-left" data-aos-offset="90" data-aos-duration="1300">
      <h2 class="font-secondary text-primary h1 text-center mb-4">What to Expect</h2>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-begin">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="100" data-aos-duration="1300">
            <img src="/assets/img/event/live-competition/competition-rounds-thumbnail.jpg" alt="Competition rounds thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Competition Rounds</h3>
              <p>Delegates tackle challenging and innovative case rounds at LIVE in head to head competition. We provide multi-faceted rounds that are integrated in various streams of business for delegates to showcase their talent.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-inbetween">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <img src="/assets/img/event/live-competition/corporate-connections-thumbnail.jpg" alt="Corporate connections thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Corporate Connections</h3>
              <p>This networking event is the perfect opportunity for our delegates to meet our partners. This is where business professionals meet the future of business.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-end">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <img src="/assets/img/event/live-competition/awards-gala-thumbnail.jpg" alt="Awards gala thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Awards Gala</h3>
              <p>What better way to end two days of challenging competition than with an exciting awards gala. Enjoy a night of food and fun as we celebrate the end of the competition by congratulating the teams that triumphed over their fierce competitors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container py-5" data-aos="slide-up" data-aos-offset="80">
  <h2 class="font-secondary text-primary h1 text-left mb-4">Past Universities</h2>
  <img src="/assets/img/event/live-competition/universities.jpg" class="img-fluid d-none d-sm-block" alt="Universities List" />
  <img src="/assets/img/event/live-competition/universities-mobile.jpg" class="img-fluid d-block d-sm-none" alt="Universities List" />
</div>
<div class="container py-5" data-aos="zoom-in-up">
  <h2 class="font-secondary text-primary h1 text-center mb-5">Live Competition 2019 Highlights</h2>
  <div id="carouselExampleIndicators" class="carousel slide pb-5 lazy" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner">
      {% for carouselcount in (1..20) %}
      <div class="carousel-item {% if carouselcount == 1 %}active{% endif %}">
        {% if carouselcount == 1 %}
        <img class="d-block w-100" src="/assets/img/event/live-competition/carousel/live{{ carouselcount }}.jpg" alt="Slide {{ carouselcount }}">
        {% else %}
        <img class="d-block w-100" data-src="/assets/img/event/live-competition/carousel/live{{ carouselcount }}.jpg" alt="Slide {{ carouselcount }}">
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
