---
# Template variables
title: LIVE Competition
layout: default
hero: true
hero_bg_src: /assets/vid/event/live-competition/cover.mp4
hero_poster_src: /assets/img/event/live-competition/cover_vid.png
hero_type: video_reg
hero_title: LIVE Competition
hero_subtitle: January 9-10   |    Toronto Marriott City Centre Hotel <br>Registration ends Sunday, November 24th at 11:59 PM</br>
hero_button:
custom_css:
- /assets/css/page-specific/live-competition.css
custom_js:
- /assets/js/lazy-carousel.js
- /assets/js/live-competition.js
- https://maps.googleapis.com/maps/api/js?key=AIzaSyB29Sj2dHLRYDZcwJKMpqNEbw8P1jpZG1s&callback=initMap
---

<div class="bg-light p-5">
  <div class="container py-5 text-center">
    <div class="px-md-5" data-aos="fade-up" data-aos-duration="1600" data-aos-offset="80">
      <div class="px-md-5">
        <div class="px-lg-5">
          <h2 class="font-secondary text-primary h1">Do You Dare To Compete?</h2>
          <p class="m-0 mt-4">LIVE Competition is a platform for undergraduate students and industry professionals to connect and make long-lasting connections. Bringing together 120 students across Canada, our conference offers limitless opportunity for delegates to showcase their skills and talent to our partners in case rounds, presentations, networking and more.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-white p-5">
  <div class="container text-center">
    <div class="px-md-5" data-aos="fade-up" data-aos-duration="1600" data-aos-offset="80">
      <div class="px-md-5">
        <div class="px-lg-5">
          <h2 class="font-secondary text-primary text-uppercase h1">Introducing our title sponsor</h2>
          <img class="img-fluid mt-3" src="/assets/img/event/live-competition/microsoft.png">
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light">
  
<div class="container py-5">
  <span class="text-secondary text-center pt-5">
    <h2 class="font-secondary text-primary h1" data-aos="fade-right">How it works</h2>
  </span>
</div>

<div class="container px-md-5 text-center">
  <div class="row pt-4">
      <div class="col-md-4">
        <div class="px-5 px-sm-0" data-aos="fade-left">
          <img src="/assets/img/icons/prelim.png" class="img-fluid px-5 px-sm-0 px-md-5">
        </div>
        <span class="font-secondary h2 d-block m-0 mt-3" data-aos="fade-left">Preliminary Case</span>
        <span class="text-center m-0 mt-3">
          <p data-aos = "fade-left"><strong><font size="+2">Released in December</font></strong></p>
          <p data-aos="fade-left">A case weeks ahead of LIVE for your team to prepare and present on the day of. Use this time to research, prepare and present the best case for industry reps on the day of! </p>
        </span>
      </div>

      <div class="col-md-4">
        <div class="px-5 px-sm-0 pt-5 pt-sm-0" data-aos="fade-up">
          <img src="/assets/img/icons/day1.png" class="img-fluid px-5 px-sm-0 px-md-5">
        </div>
        <span class="font-secondary h2 d-block m-0 mt-3" data-aos="fade-up">Day 1</span>
        <span class="text-center m-0 mt-3">
          <p data-aos = "fade-up"><strong><font size="+2">January 9</font></strong></p>
          <p data-aos="fade-up">Our 120 delegates arrive to face off in a day of challenging competition rounds and presentations. In the evening we host Corporate Connections, a networking event with over 35 industry representatives.</p>
        </span>
      </div>

      <div class="col-md-4">
        <div class="px-5 px-sm-0 pt-5 pt-sm-0" data-aos="fade-right">
          <img src="/assets/img/icons/day2.png" class="img-fluid px-5 px-sm-0 px-md-5">
        </div>
        <span class="font-secondary h2 d-block m-0 mt-3" data-aos="fade-right">Day 2</span>
        <span class="text-center m-0 mt-3">
          <p data-aos = "fade-right"><strong><font size="+2">January 10</font></strong></p>
          <p data-aos="fade-right">The second day of LIVE presents more opportunites for delegates to showcase their talents in competition rounds and workshops. In the evening, LIVE hosts a gala to award our top 5 teams and to end off the competition, delegates get to celebrate at a social!</p>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="px-md-5">
    <div class="px-lg-5" data-aos="slide-left" data-aos-offset="90" data-aos-duration="1300">
      <h2 class="font-secondary text-primary h1 text-center mb-4">What to Expect</h2>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-begin">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="100" data-aos-duration="1300">
            <img src="/assets/img/event/live-competition/competition-rounds-thumbnail.jpg" alt="Competition rounds thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Competition Rounds</h3>
              <p>Delegates tackle challenging and innovative case rounds at LIVE in head to head competition. We provide multi-faceted rounds that are integrated in various streams of business for delegates to showcase their talent.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-inbetween">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <img src="/assets/img/event/live-competition/corporate-connections-thumbnail.jpg" alt="Corporate connections thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Corporate Connections</h3>
              <p>This networking event is the perfect opportunity for our delegates to meet our partners. This is where business professionals meet the future of business.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-7 col-lg-6 left-timeline lt-end">
          <div class="lt-ellipse"></div>
          <div class="col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <img src="/assets/img/event/live-competition/awards-gala-thumbnail.jpg" alt="Awards gala thumbnail" class="img-fluid" />
          </div>
        </div>
        <div class="col-md-5 col-lg-6">
          <div class="mt-3 mb-5 my-md-0 col-container" data-aos="slide-up" data-aos-offset="80" data-aos-duration="1300">
            <div class="py-lg-3">
              <h3 class="font-secondary text-primary h2">Awards Gala</h3>
              <p>What better way to end two days of challenging competition than with an exciting awards gala. Enjoy a night of food and fun as we celebrate the end of the competition by congratulating the teams that triumphed over their fierce competitors.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-light p-5">
  <div class="container py-5">
    <div class="px-md-5" data-aos="fade-up" data-aos-duration="1600" data-aos-offset="80">
      <div class="px-md-5">
        <div class="px-lg-5">
          <h2 class="font-secondary text-primary h1 text-center">Key Dates</h2>
          <h2 class="font-secondary mt-3">Registration</h2>
          <p class="m-0 mt-3">Registration period is open from November 11th to November 24th at 11:59PM, at a cost of $240 per delegate.</p>
          <h2 class="font-secondary mt-5">Application Process</h2>
          <p class="m-0 mt-4">Form your dream team of 4 and register! Don’t have a full team? Don’t worry, we can match you with other students!</p>
          <p class="m-0 mt-3">You’ll get an acceptance email 2-3 days after the registration deadline and the preliminary case will be released soon afterwards.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="py-5 text-center">
<div class="px-md-5" data-aos="zoom-out-up" data-aos-duration="1500">
<h2 class="font-secondary text-primary h1">Are you Ready?</h2>
<a href="https://blueboard.live/register" target="_blank" class="btn btn-outline-primary mt-4 mb-1">Register Today!</a>
</div>
</div>

<div class="bg-light p-5">
  <div class="container py-5 px-md-5" data-aos="fade-up" data-aos-duration="1600" data-aos-offset="80">
    <div class="px-md-5 px-lg-5">
      <h2 class="font-secondary text-primary h1 text-center">In The Heart Of Downtown Toronto</h2>
      <div id="mapContainer" class="pt-4 mb-3 mr-5">
        <div id="map">
        </div>
      </div>
      <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.3000324305476!2d-79.39168634921869!3d43.641925679019295!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b34d7eac7bacd%3A0x2767fbe2aa54568a!2sToronto%20Marriott%20City%20Centre%20Hotel!5e0!3m2!1sen!2sca!4v1571854653405!5m2!1sen!2sca" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe> -->
      <address class="mb-0" data-aos="fade-in" data-aos-duration="1500">
        <strong>Toronto Marriott City Centre Hotel</strong><br/>
        One Blue Jays Way,<br/>
        Toronto, ON<br/>
        M5V 1J4<br/>
      </address>
    </div>
  </div>
</div>

<div class="container py-5" data-aos="zoom-in-up">
  <h2 class="font-secondary text-primary h1 text-center mb-5">Live Competition 2019 Highlights</h2>
  <div id="carouselExampleIndicators" class="carousel slide pb-5 lazy" data-ride="carousel" data-interval="4000">
    <div class="carousel-inner">
      {% for carouselcount in (1..20) %}
      <div class="carousel-item {% if carouselcount == 1 %}active{% endif %}">
        {% if carouselcount == 1 %}
        <img class="d-block w-100" src="/assets/img/event/live-competition/carousel/live{{ carouselcount }}.jpg" alt="Slide {{ carouselcount }}">
        {% else %}
        <img class="d-block w-100" data-src="/assets/img/event/live-competition/carousel/live{{ carouselcount }}.jpg" alt="Slide {{ carouselcount }}">
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
