<div class="owl-carousel">
  <div class="item">
    <img src="/assets/img/partner-carousel/microsoft.png" alt="Microsoft" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/nestle.png" alt="Nestle" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/fidelity.png" alt="Fidelity" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/telus.png" alt="Telus" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/mnp.png" alt="MNP" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/cfa.png" alt="CFA" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/utscmgmt.png" alt="University of Toronto Scarborough Management" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/linkedin.png" alt="Linkedin" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/kpmg.png" alt="KPMG" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/rogers.png" alt="Rogers" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/t-shirtelephant.png" alt="T-Shirt Elephant" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/kind.png" alt="Kind" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/stickerwithyou.png" alt="Sticker With You" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/kernels.png" alt="Kernels" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/hellofresh.png" alt="Hello Fresh" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/jackorg.png" alt="Jack.org" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/acehill.png" alt="Ace Hill" />
  </div>
  <div class="item">
    <img src="/assets/img/partner-carousel/stickergiant.png" alt="Sticker Giant" />
  </div>
</div>
