{% if page.hero and page.hero_title %}
{% if page.hero_type == "image" and page.hero_bg_src %}
<div class="hero-container bg-primary text-center">
  <div class="hero-bg-img" data-image="{{ page.hero_bg_src }}"></div>
  <!--
  <video autoplay class="hero-bg-vid">
    <source id='mp4' src="http://media.w3.org/2010/05/sintel/trailer.mp4" type='video/mp4'/>
  </video>
  -->
  <div class="hero-inner">
    <h1 class="title">{{ page.hero_title }}</h1>
    {% if page.hero_subtitle %}
    <p class="subtitle">{{ page.hero_subtitle }}</p>
    {% endif %}
  </div>
</div>
{% elsif page.hero_type == "video" and page.hero_bg_src %}
<div class="hero-container bg-primary text-center">
  <video autoplay controls muted class="hero-bg-vid">
    <source id='mp4' src="{{ page.hero_bg_src }}" type='video/mp4'/>
  </video>
  <div class="hero-inner">
    <h1 class="title">{{ page.hero_title }}</h1>
    {% if page.hero_subtitle %}
    <p class="subtitle">{{ page.hero_subtitle }}</p>
    {% endif %}
  </div>
</div>
{% else %}
<div class="hero-container bg-primary text-center">
  <div class="hero-inner">
    <h1 class="title">{{ page.hero_title }}</h1>
    {% if page.hero_subtitle %}
    <p class="subtitle">{{ page.hero_subtitle }}</p>
    {% endif %}
  </div>
</div>
{% endif %}
{% endif %}
