<nav class="navbar border-bottom navbar-expand-md navbar-light">
    <a class="navbar-brand" href="#">
        <img src="/assets/img/brand/icon.png" width="50px" height="50px" class="mb-2" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobileDropdown" aria-controls="navbarMobileDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarMobileDropdown">
        <ul class="navbar-nav ml-auto">
            {% if page.url == "/index.html" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="#">Home</a>
            </li>
            {% if page.url contains "/event/" %}
                <li class="nav-item dropdown active">
            {% else %}
                <li class="nav-item dropdown">
            {% endif %}
                <a class="nav-link" href="#" id="navbarDropdownOurEvents" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Our Events
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownOurEvents">
                    {% if page.url == "/event/live-competition.html" %}
                        <a class="dropdown-item active" href="#">LIVE Competition</a>
                    {% else %}
                        <a class="dropdown-item" href="#">LIVE Competition</a>
                    {% endif %}
                    {% if page.url == "/event/future-leaders-challenge.html" %}
                        <a class="dropdown-item active" href="#">Future Leaders Challenge</a>
                    {% else %}
                        <a class="dropdown-item" href="#">Future Leaders Challenge</a>
                    {% endif %}
                </div>
            </li>
            {% if page.url == "/our-team.html" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="#">Our Team</a>
            </li>
            {% if page.url == "/partner-with-us.html" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="#">Partner With Us</a>
            </li>
            {% if page.url == "/connect-with-us.html" %}
                <li class="nav-item active">
            {% else %}
                <li class="nav-item">
            {% endif %}
                <a class="nav-link" href="#">Connect With Us</a>
            </li>
        </ul>
    </div>
</nav>